.title-message {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.title-subtext {
    font-size: 22px;
    font-weight: 200;
    color: white;
}

.welcome-box {
    line-height: 32px;
}

.location {
    background-color: #e2e9fd !important;
}

.location-card {
    height: 68px;
    background-color: #ebebeb;
    border-radius: 11px;
    color: #797979;
    position: inherit !important;

}

.location-card-title {
    margin-top: 8px;
    font-size: 22px !important;
}

.welcome-container {
    margin-top: 63px;
}