.card {
    height: 159px;
    background-color: #1792ff !important;
    color: white;
    border-radius: 16px !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://cdn.pixabay.com/photo/2020/02/23/08/57/view-4872677_960_720.jpg);
    background-size: cover;
}


.card-title {

    font-weight: 400 !important;
}

.sub-title {
    color: #bcbcbc !important;
    font-size: 14px;
    margin-top: 7px !important;
    margin-left: 2px;

}