.weather-details-container {
    background-image: url(/public/images/we.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-box {
    text-align: center;
}

.weatherpage-icon {
    font-size: 26px !important;
}

.weatherdetails-header {
    font-size: 18px;
}

.weather-text {

    font-size: 138px;
    font-weight: 400;
    font-family: monospace;

}

.weather-container {
    margin-top: 82px !important;
}

.weather-format {
    top: -60px !important;
    font-size: 35px !important;
    margin-right: -25px;
}

.weather-description {

    font-size: 25px;
    font-family: inherit;

}

.weather-time {
    font-size: 15px;
    font-family: inherit;
}

.weather-card-box {
    border-radius: 20px;
    background-color: rgb(57 151 155 / 24%);
    font-family: sans-serif;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;
}

.weather-forecast {
    font-size: 20px;
    color: #e4e4e4;
}

.forecat-card {}

.material-icons-cloud {
    font-size: 35px !important;
}

.material-icons-arrow {
    font-size: 14px !important;
    transform: rotate(-33deg);
}

.weather-speed {
    font-size: 14px;
}

.weather-forecast-description-box {
    text-align: initial;
}

.forecast-text {
    font-size: 17px;
}

.left-margin-subtext{
    margin-left: 35px;
}

.loading{
        display: flex;
    justify-content: center;
    height: 710px;
    align-items: center;
    margin: auto;
}